/**************************************************************************************
  *                          © 2019 Roshini Saravanakumar                             *
  ************************************************************************************* */

.navbar-nav {
  padding-top: 1px;
}
.navbar-brand {
  margin-right: 10px;
}

.bg-orange {
  background-color: #d34514;
}

.viz-title {
  text-align: center;
  font-weight: bolder;
  font-size: 48px;
  margin-bottom: 1.5rem;
}

.viz-intro {
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
}
