body {
    background-image: url('../images/aubergines-bio-cabbage-5205.jpg');
    background-size: 100%;
}

.bg-semitransparent {
    background:rgba(0, 0, 0, 0.795);
    color: white;
}

.w-90 {
    width: 90%;
}

@media (min-width: 768px) {
    .w-md-60 {
        width: 60%;
    }
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 1rem 1rem 0rem;
}

.intro-container a {
    color: #d34514;
}

.intro-container a:hover {
    color: #b43b13;   
}