.toolbar {
    position: fixed;
    top: 10%;
    left: 0%;
    z-index: 1030;

    width: 26%;
    height: 60%;

    display: flex;
    flex-direction: column;

    background: white;
    border: black 1px solid; 
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.toolbar-title {
    padding: 1rem;
    border-bottom: black 1px solid;
}

.toolbar-content {
    padding: 1rem;
}

#trade-chart {
    overflow-y: scroll; 
    position: relative;
    padding: 0px;
}

#view-info {
    height: 60%;
}

#current-view-list {
    list-style-type: none;
    padding: 0.5rem;

    height: 100%;
    overflow-y: scroll;

    border: gainsboro 1px solid;
    border-radius: 0.25rem;
}

.remove-country-button {
    color: #dc3545;
    background: none;
    border: none;
    margin-left: auto;
}

.remove-country-button:hover {
    color: #c82333;
}

.remove-country-button:focus {
    outline: none;
}